/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/assets/uploads/users/*
/public/assets/uploads/companies/*
!/public/assets/uploads/users/default.png
!/public/assets/uploads/companies/default.png
.DS_Store