.footer-bar {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white !important;
    border-top: 2px solid #d0d0d0 !important;
    color: white;
    text-align: center;
    z-index: 2;
    width: 100%;
}